.header__lang-link {
  color: inherit;
  font-size: 24px;
  margin: 12px 0 0 auto;
  text-decoration: none;
}

.header__lang-link:last-of-type {
  margin: 0.75rem 0 0 1.125rem;

}

.header__lang-link:active {
  text-decoration: underline;
}
