.places {
  margin: 92px 0;
  padding: 0 100px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 90px 0;
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    margin: 64px 0;
    padding: 0;
  }
}

