.photo-grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  grid-gap: 16px;
}

@media screen and (max-width: 734px) {
  .photo-grid__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
