.lead {
  max-width: 100%;
  padding: 0 100px;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 0;
    padding: 0;
  }
}
