.photo-grid__item {
  width: 284px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 1184px) {
  .photo-grid__item {
    width: 300px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__item {
    width: 352px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid__item {
    width: 288px;
  }
}
