.place__paragraph {
  margin: 0 0 25px;
  padding: 0;
  font-size: 18px;
  line-height: 163%;
  font-weight: normal;
  overflow-wrap: break-word;
  max-width: 484px;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    margin: 0 16px 25px;
  }
  .place__paragraph:last-of-type {
    margin: 0 16px;
  }

}
