.intro__text {
  font-weight: normal;
  margin: 0 0 32px 0;
}

.intro__text:first-of-type {
  font-size: 1.5em;
  line-height: 142%;
}

.intro__text:last-of-type {
  font-size: 1em;
  line-height: 163%;
}

