.footer {
  display: flex;
  margin: 92px 0 24px 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 64px 24px 24px 24px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    margin: 64px 0 24px 0;
  }
}
