.place__url-heading {
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.2em;
  font-weight: normal;
  color: #aaaaaa;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 425px) {
  .place__url-heading {
    display: flex;
    flex-direction: column;
    margin: 0 16px 12px;  }
}
