.place__website {
  grid-area: website;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  margin: 0 0 48px 0;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .place__website {
    margin-bottom: 30px;
  }
}
